<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
  <h1 th:text="|Title : ${title}|"></h1>
  <h1 th:text="|Message : ${message}|"></h1>

  <form th:action="|${#httpServletRequest.getContextPath()}/j_spring_security_logout|" method="post" id="logoutForm">
    <input type="hidden" th:name="${_csrf.parameterName}"
      th:value="${_csrf.token}" />
  </form>
  <script>
    function formSubmit() {
      document.getElementById("logoutForm").submit();
    }
  </script>
  
  <th:block th:if="${#httpServletRequest.getUserPrincipal() != null and #httpServletRequest.getUserPrincipal().getName() != null}">
  <h2><span th:text="|Welcome : ${#httpServletRequest.getUserPrincipal().getName()}|" th:remove="tag"></span> | <a href="javascript:formSubmit()"> Logout</a></h2>
  </th:block>
</body>
</html>